//----------Variable-----------
$header-color: #4b95a1;
$green: #00d089;
$text-color: white;
$myFont: 'Open Sans Condensed', sans-serif;

//----------MIXIN-------------

@mixin fontOptions($textcolor, $fontcolor, $fontsize: 1rem) {
       color: $textcolor;
       font-family: $fontcolor;
       font-size: $fontsize;
}

@mixin flexible($horizontal: center, $vertical: center) {
       display: flex;
       justify-content: $horizontal;
       align-items: $vertical;
}

//---После двоеточье ставитья по умолчанию параметр в миксин
//----------MIXIN-------------


// ------------ rem ------------
html {
       font-size: 100%; //чтобы влиять на rem
}
// ------------ rem ------------


body{
       padding: 0;
       margin: 0;
}

.header{
       width: 100%;
       height: 5.5rem;
       background-color: $header-color;
       @include flexible();

       @media screen and(max-width: 700px) {
             height: 6.5rem;
       }
       @media screen and(max-width: 512px){
              height: 19rem;                      
       }
     
       &__content {
              width: 64rem;
              height: 100%;
              color: $text-color;
              @include flexible(space-between);
              padding-left: 3.4rem;
              box-sizing: border-box;

              @media screen and(max-width: 700px) {
                     flex-direction: column;
                     @include flexible();
                     padding-left: 0;
              } 

              @media screen and(max-width: 700px){
                     flex-direction: row-reverse;
                     justify-content: space-around;             
              } 

              &-links {
                     width: 28.7rem;
                     @include flexible(space-around);
         
                     @media screen and(max-width: 700px){
                           display: none;                    
                    }

                     a {
                            text-transform: uppercase;
                            text-decoration: none;
                            // color: $text-color;
                            // font-size: 1rem;
                            // font-family: $myFont;
                            
                            @include fontOptions($text-color, $myFont, 1rem);
                            letter-spacing: .3rem;
                            
                            @media screen and(max-width: 32rem){
                              @include fontOptions($text-color, $myFont, 1.5rem);                    
                            }
                     }                    
              }

              &_checkbox{
                     display: none;
              }

              &_checkbox:checked + &_menu > &_menu-line{
                     background-color: transparent;
                     transition: .1s;

                     &::before {
                            transform: rotate(45deg);
                            bottom: 0px;
                            transition-timing-function: ease-in;
                            transition: .5s;
                     }
                     &::after {
                            transform: rotate(-45deg);
                            top: 0px;
                            transition-timing-function: ease-in;
                            transition: .5s;
                     }
              }
              &_checkbox:checked ~ &_menu-show {
                     border-radius: 0; 
                     width: 100%;
                     height: 100vh;      
                     opacity: 1;
                     left: 0;
                     top: 0;
              }
              
              &_checkbox:checked ~ &_menu-show > *{
                     opacity: 1;
              }

              &_menu{
                     width: 50px;
                     height: 50px;
                     background-color: #ccc;
                     border: 1px solid black;
                     border-radius: 4px;
                     cursor: pointer;
                     @include flexible();
                     display: none;
                     z-index: 2;

                     @media screen and(max-width: 700px){
                            display: block;   
                            @include flexible();      
                     }

                     &-line{
                            width: 40px;
                            height: 2px;
                            background-color: black;
                            position: relative;

                            &::after {
                                   content: '';
                                   width: 40px;
                                   height: 2px;
                                   background-color: black;
                                   position: absolute;
                                   top: 13px;
                                   left: 0;
                            }
                            &::before {
                                   content: '';
                                   width: 40px;
                                   height: 2px;
                                   background-color: black;
                                   position: absolute;
                                   bottom: 13px;
                                   left: 0;
                            }


                     }
              }

              &_menu-show{
                     position: fixed;
                     left: 50px;
                     top: 20px;
                     width: 0;
                     height: 0;
                     background: linear-gradient(to bottom, rgba(171,197,199,1) 0%, rgba(100,142,148,1) 100%);
                     z-index: 1;
                     opacity: 0;
                     border-radius: 50%;
                     transition: .5s;
                     @include flexible();


                     .menu__content{
                            width: 10rem;
                            opacity: 0;
                     
                        &-item{
                            @include fontOptions($text-color,$myFont,3rem);
                            border: 1px solid transparent;
                            border-left: 10px solid white;
                            padding: 0.6rem;
                            width: 0;
                            cursor: pointer;
                            transition: .3s;
                            margin-bottom: 2rem;
                            white-space: nowrap;
                            text-transform: uppercase;
                            &:hover {
                                   width: 120%;
                                   border: 1px solid white;
                                   border-left: 3px solid white;
                            }
                         }
                      }
              }
       }
}

.home {
       width: 100%;
       height: 29.7rem;
       @include flexible();
       background: url(../images/header.jpg) no-repeat;
       background-size: cover;
       background-position: center;
       padding: 0;
       margin: 0;
       position: relative;

       &__content {
              width: 64rem;
              height: 100%;
              flex-direction: column;
              @include flexible();

              &-title {
                     width: 33.7rem;
                     height: 6.3rem;
                     padding: 0;
                     text-align: center;
                     @include fontOptions($text-color,$myFont,3.1rem);
                     //color: $text-color;
                     //font-family: $myFont;
                     text-transform: uppercase;
                     //font-size: 50px;
                     font-weight: bold;
                     line-height: 3.1rem;

                     @media screen and(max-width: 512px){
                       width: 20rem;
                       @include fontOptions($text-color,$myFont,2.5rem);
                     }
              }
              &-button {
                     margin-top: 1.9rem;
                     width: 12.5rem;
                     height: 2.6rem;
                     @include flexible();
                     border: 1px solid $text-color;
                     border-radius: .3rem;
                     font-size: 1.6rem;
                     color: $text-color;
              }
              &-button:hover{
                     cursor: pointer;
              }
              &-paginator{
                     width: 5rem;
                     height: 1.25rem;
                     position: absolute;
                     bottom: 1.2rem;
                     left: calc(50% - 2.5rem);
                     @include flexible(space-around);

                     .round{
                            width: .4rem;
                            height: .4rem;
                            border-radius: 50%;
                            background-color: $header-color;
                            cursor: pointer;
                            &_active {
                                   //это модификатор, через одно нижнее подчеркивание
                                   background-color: grey;
                            }
                     }
                     // .round:nth-child(3) {
                     //        background-color: grey;
                     // }
                     
              }

       }
}

.aboutme {
       padding: 0;
       margin: 0;
       @include flexible();
       background-color: white;

       &__content {
              width: 64rem;
              height: 27.5rem;
              @include flexible();
              flex-direction: column;
              margin: 0;
              padding: 0;

              @media screen and(max-width: 496px){
                     height: 33rem;
              }

              &-title{
                     @include flexible();
                     width: 37.5rem;
                     height: 4.9rem;
                     //color: #4c505d;
                     //font-size: 30px;
                     text-align: center;
                     //font-family: $myFont;                    
                     @include fontOptions(#4c505d,$myFont,30px);
                     
                     @media screen and(max-width: 496px){
                            width: 20rem;
                            margin-top: 1.5rem;  
                     }
              }

              &-text{
                     @include flexible();
                     margin-top: 1.9rem;
                     width: 55rem;
                     height: 3.13rem;
                     //color: #4c505d;
                     //font-size: 14px;
                     text-align: center;
                     //font-family: $myFont;
                     @include fontOptions(#4c505d,$myFont,14px);
                     
                     @media screen and(max-width: 800px){
                            width: 32rem;
                            margin-top: 5rem;
                     }
                     @media screen and(max-width: 496px){
                            width: 23rem;
                            margin-top: 5rem;
                     }
                     @media screen and(max-width: 340px){
                            width: 19rem;
                            margin-top: 6rem;
                            margin-bottom: 1rem;
                     }
              }

              &-icons {
                     margin-top: 3.13rem;
                     width: 28.13rem;
                     height: 4.1rem;
                     @include flexible(space-between);  
                     
                     @media screen and(max-width: 496px){
                            flex-direction: column;
                            height: 13rem;
                            margin-top: 4rem;
                            margin-bottom: 1rem;
                 }                                        
              }
       }
}

.portfolio{ 
       @include flexible();
       padding: 0;
       margin: 0;
       background-color: $green;

       &__content {
              width: 64rem;
              height: 27.5rem;
              @include flexible();
              flex-direction: column;

              @media screen and(max-width: 672px){
                     height: 33rem;
              }
              @media screen and(max-width: 400px){
                     height: 38rem;
              }
            
              &-card {
                     width: 20.6rem;
                     height: 10.3rem;
                     @include flexible(space-between);
                     padding: 0;
                     margin-left: 5.1rem;

                     @media screen and(max-width: 672px){
                            margin-left: 0;
                            margin-top: -5rem;
                     }
                    
                     @media screen and(max-width: 400px){
                            margin-top: -10rem;
                     }
                     .photo{
                            width: 10.3rem;
                            @include flexible();
                     }
                     .name{
                            width: 10.3rem;
                            //color: $text-color;
                            text-transform: uppercase;
                            //font-family: $myFont;
                            font-weight: bold;
                            //font-size: 25px;
                            @include flexible(space-between);
                            flex-direction: column;                           
                            @include fontOptions($text-color,$myFont,25px)
                     }
              }

              &-text {
                     width: 57.2rem;
                     height: 5.6rem;
                     text-align: center;
                     //color: $text-color;
                     //font-size: 14px;
                     //font-family: $myFont;
                     margin-top: 1.9rem;
                     @include fontOptions($text-color,$myFont,14px);

                     @media screen and(max-width: 928px) {
                            width: 40rem;
                     }
                     @media screen and(max-width: 672px) {
                            width: 25rem;
                     }
                     @media screen and(max-width: 400px) {
                            width: 18rem;
                     }
              }
       }
}

.map{
       width: 100%;
       height: 32.5rem;
       @include flexible();
       padding: 0;
       margin: 0;
       background: url(../images/map.jpg) no-repeat;
       background-position: center;
       background-size: cover;

       &__content {
              width: 27.5rem;
              height: 27.5rem;
              background-color: white;
              border-radius: 50%;
              border: 1px solid grey;
              @include flexible();
              flex-direction: column;
              
              @media screen and(max-width: 512px){
                     width: 19rem;
                     height: 19rem;
              }
              &-form{
                     width: 18.4rem;
                     height: 11.9rem;   
                     @include flexible(space-between);
                     flex-direction: column;                  
                     margin-top: 3.1rem;
                     
                     
                     .input{
                            width: 16.9rem;
                            height: 2.2rem;
                            padding: 0 1rem;

                            @media screen and(max-width: 512px){
                                   width: 9.9rem;   
                                   margin-bottom: .3rem;                              
                            }
                     }
       
                     .input-message {
                            width: 18.75rem;
                            height: 5rem;
                            padding: 0 1rem;
                            position: relative;
                            resize: none;
                            padding: 1rem;
                            box-sizing: border-box;
                            
                            @media screen and(max-width: 512px){
                                   width: 12.1rem;   
                                   height: 3rem;                              
                            }

                     }
                     .input-message::placeholder{
                      color: $green;
                     }
              }

              &-check {
                     margin-top: 1.87rem;
                     width: 4.4rem;
                     height: 4.4rem;
                     opacity: 1;
                     @include flexible();

                     .img{
                            @media screen and(max-width: 512px){
                                   width: 2.5rem;
                                   height: 2.5rem;  
                            }
                     }
                     

              }
              &-check:hover{
                     cursor: pointer;
                     opacity: .8;
              }
       }
}

.footer{
       width: 100%;
       height: 2.8rem;
       @include flexible();
       padding: 0;
       margin: 0;
       //color: $text-color;
       background-color: $green;
       //font-family: $myFont;
       text-transform: uppercase;
       //font-size: 1rem;
       letter-spacing: 0.25rem;
       @include fontOptions($text-color, $myFont);
}